/*


   $SLIDING_PASSWORD_INPUT


  @author Benjamin Charity <ben@benjamincharity.com>
  @created 4/16/13

  @doc
    __documentation__
  @end
*/
/* line 12, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
* {
  background-repeat: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 36, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 44, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 52, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
[hidden] {
  display: none;
}

/* line 67, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
a {
  display: block;
  text-decoration: none;
}
/* line 73, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
a:focus, a:hover, a:active {
  outline: none;
}

/* line 96, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

/* line 107, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
body {
  margin: 0;
}

/* line 114, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
figure {
  margin: 0;
}

/* line 123, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
img {
  border: 0;
  max-width: 100%;
}

/* line 133, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 144, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 152, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
pre {
  white-space: pre-wrap;
}

/* line 160, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 167, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
small {
  font-size: 80%;
}

/* line 175, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 183, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 190, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
sup {
  top: -0.5em;
}

/* line 194, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 210, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
label {
  cursor: pointer;
}

/* line 222, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 236, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
button,
input {
  line-height: normal;
}

/* line 247, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 262, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 273, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 282, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 294, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 308, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 316, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 325, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 336, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_reset.scss */
input:invalid,
textarea:invalid {
  border-radius: 1px;
  -webkit-box-shadow: 0 0 5px red;
  -moz-box-shadow: 0 0 5px red;
  -ms-box-shadow: 0 0 5px red;
  -o-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
}

/* line 14, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_page.scss */
html {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 18, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_page.scss */
.box {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  height: 14em;
  margin: 140px auto;
  padding: 80px 100px;
  text-align: center;
  width: 40%;
}

/* line 36, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_page.scss */
.spi__input {
  text-align: left;
}

/* line 33, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_plugin.scss */
.spi__input {
  background-color: white;
  border: 1px solid transparent;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  height: 30px;
  -webkit-transition: all 200ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: all 200ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: all 200ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: all 200ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 200ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  width: 100%;
}
/* line 46, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_plugin.scss */
.spi__input:hover {
  border-color: #cccccc;
}
/* line 50, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_plugin.scss */
.spi__input:focus {
  border-color: #666666;
  outline: none;
}

/* line 57, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_plugin.scss */
.spi__instructions {
  color: #999999;
  display: block;
  margin-top: 2px;
  margin-top: .125rem;
  font-size: 11px;
  text-align: right;
}
/* line 65, /Users/bc/Dropbox/Freelance/Projects/open-source/sliding-password-input/stylesheets/_plugin.scss */
.spi__instructions::before {
  content: "⏎";
  margin-right: 2px;
  margin-right: .125rem;
}
