/*


   $SLIDING_PASSWORD_INPUT


  @author Benjamin Charity <ben@benjamincharity.com>
  @created 4/16/13

  @doc
    __documentation__
  @end
*/
/* line 12, ../stylesheets/_reset.scss */
* {
  background-repeat: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../stylesheets/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 36, ../stylesheets/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 44, ../stylesheets/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 52, ../stylesheets/_reset.scss */
[hidden] {
  display: none;
}

/* line 67, ../stylesheets/_reset.scss */
a {
  display: block;
  text-decoration: none;
}
/* line 73, ../stylesheets/_reset.scss */
a:focus, a:hover, a:active {
  outline: none;
}

/* line 96, ../stylesheets/_reset.scss */
html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

/* line 107, ../stylesheets/_reset.scss */
body {
  margin: 0;
}

/* line 114, ../stylesheets/_reset.scss */
figure {
  margin: 0;
}

/* line 123, ../stylesheets/_reset.scss */
img {
  border: 0;
  max-width: 100%;
}

/* line 133, ../stylesheets/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 144, ../stylesheets/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 152, ../stylesheets/_reset.scss */
pre {
  white-space: pre-wrap;
}

/* line 160, ../stylesheets/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 167, ../stylesheets/_reset.scss */
small {
  font-size: 80%;
}

/* line 175, ../stylesheets/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 183, ../stylesheets/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 190, ../stylesheets/_reset.scss */
sup {
  top: -0.5em;
}

/* line 194, ../stylesheets/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 210, ../stylesheets/_reset.scss */
label {
  cursor: pointer;
}

/* line 222, ../stylesheets/_reset.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 236, ../stylesheets/_reset.scss */
button,
input {
  line-height: normal;
}

/* line 247, ../stylesheets/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 262, ../stylesheets/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 273, ../stylesheets/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 282, ../stylesheets/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 294, ../stylesheets/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 308, ../stylesheets/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 316, ../stylesheets/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 325, ../stylesheets/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 336, ../stylesheets/_reset.scss */
input:invalid,
textarea:invalid {
  border-radius: 1px;
  -webkit-box-shadow: 0 0 5px red;
  -moz-box-shadow: 0 0 5px red;
  -ms-box-shadow: 0 0 5px red;
  -o-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
}

/* line 14, ../stylesheets/_page.scss */
body {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 18, ../stylesheets/_page.scss */
.box {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  height: 14em;
  margin: 140px auto;
  width: 40%;
}
