//
//
//
// $PAGE
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Styles for the page. Independtant from the plugin styles.
// @end


html {
  background-color: rgba(0,0,0,0.8);
}

.box {
  background-color: rgba(255,255,255,0.9);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  -moz-box-shadow:    0 0 4px rgba(0,0,0,0.4);
  -ms-box-shadow:     0 0 4px rgba(0,0,0,0.4);
  -o-box-shadow:      0 0 4px rgba(0,0,0,0.4);
  box-shadow:         0 0 4px rgba(0,0,0,0.4);
  height: 14em;
  margin: 140px auto;
  padding: 80px 100px;
  text-align: center;
  width: 40%;
}

//
// Although this is a style for a plugin specific element, it is included
// here because it is only needed to cancel out a layout style above.
//
.spi__input {
  text-align: left;
}
